@font-face {
    font-family: 'PTMono';
    src: url('fonts/PTMono-Regular.ttf');
}
body { background-color:#141414ea; }
.table { width:88% !important; }
.table td, .table th { padding:0.1rem 0.5rem; border:0px; } 
img.callsign { height:24px; margin-right:5px; display:none; }
table > thead > tr { background-color:#73ffff; color:#000000; font-family:PMingliu; font-size: 1.2em;font-weight:600}
table > tbody > tr { color:#fff; font-family:sans-serif; font-size: 1.35em;font-family: PMingliu}
table > tbody > tr > td:nth-child(1) { color: #ffffff; }
table > tbody > tr:nth-child(odd) {  }
table > tbody > tr:nth-child(even) {  }
table.zh > tbody > tr { font-family:MingLiu;font-weight:600; }
.zh { display:inline-block; float:left; width:40%; }
table.en > tbody > tr { font-family:MingLiu; font-weight:600;}
td.arrived { color:#ff0000; font-weight:600; }
td.departing { color:#a2da0a; font-weight:600; }
td.delay{color:#ff0000;font-size:20px;font-weight:600;}
td.finalcall{color:#ff0000;font-size:20px;font-weight:600;}
td.departed { color:#1eff00;font-size: 20px; font-weight:600; }
td.boarding { color:#fcff2f; font-weight:600; }

div.time { display:inline-block; float:right; font-family: PMingliu;}
thead > tr > th:first-child { font-size:1em; }
tbody > tr > td:nth-child(1) { width:15%; }
tbody > tr > td:nth-child(2) { width:25%; }
tbody > tr > td:nth-child(3) { width:30%; }
tbody > tr > td:nth-child(4) { width:5%; }
tbody > tr > td:nth-child(5) { width:20%;word-break: keep-all; }
table.en .zh { display:none; }
table.zh .en { display:none; }
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}